<div class="Rectangle-21">
  <div class="inner">
    <a mat-button href="https://www.google.com/" target="_blank">Instagram</a>
    <a mat-button href="https://www.google.com/" target="_blank">Facebook</a>
    <a mat-button href="https://www.google.com/" target="_blank">LinkedIn</a>
    <a mat-button href="https://www.google.com/" target="_blank">GitHub</a>
  </div>
  <div class="inner" style="margin-top: 50px">
    <span class="SPACESCANNER-2021-COPYRIGHTS">SPACESCANNER 2021 COPYRIGHTS </span>
  </div>
</div>
